body{
    margin: 0%;
   padding: 0%; 
}

@import url('https://fonts.googleapis.com/css2?family=Coda:wght@800&family=Rubik:wght@700&display=swap');

.header-section{
    margin: 0;
    padding: 30px 50px;
    position: fixed;
    width: 100%;
    background-color: rgb(218, 245, 238);
}
.header-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.name{
    font-size: 30px;
    background-color: rgb(252, 251, 251);
    color:black;
    border-radius: 10%;
  }
.nev-tag ul{
display: flex;
text-decoration: none;
}

.nev-tag ul li{
list-style-type: none;
margin: 0px 10px;
padding: 7px 12px;
font-size: 20px;

}
.nev-tag ul li:hover{
    color: blanchedalmond;
    background-color: blueviolet;
    padding: 3px 5px;
    border-radius: 15px;
   
}
.hole{
    display: flex;
    width: 100%;
    background-color: rgb(241, 241, 223);
    margin: auto;
}
.part{
    width: 30%;
   margin: auto;
}
.images {
	width: 24%;
	margin: auto;
}
.images img{
    width: 100%;
}
.heading{
    font-family:sans-serif;
}
.content{
    font-family: Josefin sans, sans-serif;
}
.content2{
    font-family: sans-serif;
    font-size: 16px;
    margin: 20px 0 15px 0;
    line-height: 1.5em;
    color: gray;
}
.discover{
    background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
    line-height: 42px;
    padding-left:30px;
    border:none;
    color: #fff;
    display: inline-block;
    font-weight: 500;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}
.hole2{
        display: flex;
        margin: auto;
        padding-top:50px ;
}
.part3{
    margin-left: 130px;
    width: 23%;
}
.part4{
    width: 40%;
margin: auto;
    
}
.images-part{
    width: 100%;
}
.Service{
text-align: center;  
margin-top: 87px;  
}
.hole3{
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 50px;
    contain: 5opx;
    align-items: center;
    margin-top: 15opx;
}
.part-1{
    margin-left: 0px;
    margin-right: 5opx;
    text-align: center;
} 
/* .heading2{

} 
.dis{

} */
.icon{
   color: blue;
    font-size: 35px;

}
.icon:hover{
    background-color: darkorchid;
    padding: 10px;
    border-radius: 50%;
    color: white;
}
.heading2 :hover{
color: #62bdfc;
}
.hole4{
    background-color: rgb(39, 7, 7);
    display: flex;
    width: 100%;
    color: white;
    padding: 20px 0px;
    
}
.section {
	background-color: #5997c4;
	width: 100%;
	padding: 104px 0px;
	display: flex;
    text-align: center;
}
.containar{
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    width: 25%;
}
.rimut{
    font-size: 40px;
    margin: 0px;
}
.section-2{
    text-align: center;
    font-family: sans-serif;
    margin: 0px;
}
/* service part */
.Service-head{
    text-align: center;
    color: black;
    font-size: 20px;
    padding: 0px;
}
.this-is{
    text-align: center;
}
.grid-container3 {
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    margin: auto;
    gap: 0px,10px;
    padding: 37px;
    margin-top: 10px;
}
.grid-item2{
    max-width: 180%;
    text-align: center;
    transition: 1s;
}
.grid-item2:hover {
    max-width: 180%;
    text-align: center;
    background-color: burlywood;
    box-shadow: 0px 2px 5px rgb(58, 57, 57);
    transform: scale(1.02);
    box-sizing: border-box;
    padding: 10px;
    background: linear-gradient(0deg,#8490ff,0%,#62bdfc);
   
}
/* .grid-item2 :hover{
   
} */

.grid-item2 h1{
    border: 30px solid rgba(132,144,255,0.1);
    background: rgba(132,144,255,0.1);
    border-radius: 50%;
    width: 5%;
    font-size: 30px;
    padding: 15px;
    font-weight: 100;
    margin: auto;
    text-align: center;
    color: black;
}
.grid-item2 h2{
    color: black;
}
.grid-item2 p{
    color: #454343;
}
.grid-item2 :hover h1{
    color: white;
    background-color: rgb( 132 144 255 /22%);
    border: 30px solid rgb(247 249 251 /39%);
}
.grid-item2 :hover h2{
    color: white;
}
.grid-item2 :hover p{
    color: white;
}
.grid-item2 :hover .plan li a{
    color: white;
}
.plan{
    margin: 0px;
    padding: 0px;
}
.plan li {
    list-style: none;
    border-top: 1px solid #eee;
    padding: 15px 0px;
}
.plan li a{
    text-decoration: none;
    color: rgb(93,96,99);
    font-size: 18px;
}
.btn{
    color: black;
    font-weight: 400;
    font-size: 30px;
}
/* .grid-item2 :hover.btn{
    display: none;
} */
.btn2{
    background:white ;
    color: #222222;
    font-size: 30px;
    font-weight: 400;
    padding: 5px 57px;
    display: none;
}
/* .grid-item2 :hover.btn2{
    display: block;
} */
/* .footer-part */
.about{
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    text-align: left;
}
.paragraph{
    color: gray;
    font-size: 15px;
    font-family:sans-serif;
}
.icon2{
    color: white;
}

.footer-part{
    width:50%;
   
} 
.footer-part2{
    width: 48%;
    margin-left: 40px;
}
.footer-part3{
    width: 48%;
    color: white;
}
input{
    padding: 6px;
    width: 296px;
    font-size: 20px;
    border: 1px solidrgb(7, 7, 7)e;
}
.input:focus{
    outline: none;
}
/* .social{
    font-size: 20px;
    padding: 18px 15px 18px 10px;
    color: white;
} */
.right {
	width: 60px;
	background-color: #62bdfc;
	border: none;
	margin-left: -4px;
	padding: 15px 0px 9px 0px;
}
.drop-part{
    position: absolute;
    width: 150px;
    background-color: white;
    font-size: 15px ;
    top: 40px;
    right: 7px;
    padding: 30px;
    text-transform: capitalize;
    box-shadow: 1px 1px 1px 2px rgba(41,40,40,0,40);
    display: none;
}
.drop-down{
    position: relative;
    padding: 10px;
}
.drop-down:hover .drop-part{
    display: block;
}
.blog{
    font-size: 10px;
    padding: 5px;
}

/* mobile responsive start here */
@media only screen and (max-width: 600px) {
    body{
        background-color: #b5f0ed;
        max-width: 100%;
    }
    .header-main{
        display: inline-block;
        justify-content: space-between;
        font-family: sans-serif;
        background-color: white;
        width: 100%;
    }
    .nev-tag ul{
        display: inline-block;
    }
.name{
    background-color: #acf8f4;
    color: black;
    border-radius: 0%;

}
.hole{
    display: inline-block;
    
    background-color: rgb(193, 250, 245);
    
}
.part {
	width: 73%;
	margin: auto;
    text-align: center;
}

   .images {
	height: 5px;
	width: 77%;
	margin: auto;
}



.content2{
    font-family: sans-serif;
    font-size: 15px;
    margin: 0px 0 0px 0;
    line-height: 1.5em;
    color: gray;
}
.discover{
    background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
    line-height: 40px;
    padding-left:10px;
    border:none;
    color: #fff;
    display: inline-block;
    font-weight: 400;
    transition: all 0.3s ease 0s;
   
}
.hole2{
    display: inline-block;
  margin: auto;
}

.part4 {
	width: 87%;
	margin: auto;
	text-align: center;
}
.part3 {
	margin: auto;
	width: 57%;
}
.images-part{
width:100%;
}
.hole3 {
	display: block;
	margin: auto;
	width: 83%;
	text-align: center;
}
.service{
    text-align: center;  
      
    }
}


/* end */





